# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# uploaded files
/uploads/*
!uploads/.gitkeep
/public/uploads/*
!public/uploads/.gitkeep

# python
*.pyc
__pycache__
*.egg-info/

# build artifacts
tsconfig.tsbuildinfo

# misc data files
*.json.bak
Animation*.json 