container_commands:
  01_build:
    command: "npm install && npm run build"
    ignoreErrors: false
  
  02_permissions:
    command: |
      chmod 755 -R /var/app/current/.next
      chmod 755 -R /var/app/current/public

option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
    NodeVersion: 16
    ProxyServer: nginx
    GzipCompression: true
  
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production 